
<ion-header>

  <ion-navbar no-border-bottom>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>


  
  <!-- <ion-toolbar no-border-top>
      <ion-segment [(ngModel)]=" navigation">
      <ion-segment-button value="home">
          Home
      </ion-segment-button>
      <ion-segment-button value="task">
          Task
      </ion-segment-button>
      <ion-segment-button value="meeting">
          Meeting
      </ion-segment-button>
      <ion-segment-button value="discuss">
          Discuss
      </ion-segment-button>
      <ion-segment-button value="question">
              Question
      </ion-segment-button>
      <ion-segment-button value="user">
              User
      </ion-segment-button>
      </ion-segment>
</ion-toolbar>  -->

 <top></top> 

 <!-- <tabs-component></tabs-component> -->

</ion-header>



<ion-content>

  
        <!-- 侧边fabs -->
    <ion-fab top left edge>
        <button ion-fab color="vibrant" big><ion-icon name="arrow-dropdown"></ion-icon></button>
        <ion-fab-list>
          <button ion-button color="light"><ion-icon name="Home"></ion-icon>Home</button>
          <button ion-button color="light"><ion-icon name="Task"></ion-icon>Task</button>
          <button ion-button color="light"><ion-icon name="Meeting"></ion-icon>Meeting</button>
          <button ion-button color="light"><ion-icon name="Discuss"></ion-icon>Discuss</button>
          <button ion-button color="light"><ion-icon name="Question"></ion-icon>Question</button>
          <button class="user" ion-button large color="light"><ion-icon name="people" ion-icon name="arrow-down"></ion-icon>
            <ion-icon name="arrow-down" *ngIf="isShow" (click)="isShow=!isShow"></ion-icon>
            <ion-icon name="arrow-forward" *ngIf="isShow" (click)="isShow=!isShow"></ion-icon>
            <ion-list *ngIf="isShow">
            <button ion-button color="light">用户</button> 
            <button ion-button color="light">个人资料</button> 
            </ion-list>
        </button>
        </ion-fab-list>
      </ion-fab>

  <div [ngSwitch]="navigation">
    <ion-list *ngSwitchCase="'home'">
      <ion-item>

        <!-- 界面议题 -->
        <ion-list inset>
            <button class="discuss-button" ion-item *ngFor="let item of items" (click)="itemSelected(item)">
              {{ item }}
            </button>
           </ion-list>
           </ion-item>
         </ion-list>
 
    <!-- 界面对应内容 -->
     <ion-list *ngSwitchCase="'task'"> 
      <page-task></page-task>
    </ion-list>

    <ion-list *ngSwitchCase="'meeting'">
      <page-meeting></page-meeting>
    </ion-list>

    <ion-list *ngSwitchCase="'discuss'"> 
        <page-discuss></page-discuss> 
      </ion-list>

      <ion-list *ngSwitchCase="'question'"> 
          <page-question></page-question> 
        </ion-list>

        <ion-list *ngSwitchCase="'user'">
            <page-user></page-user>   
          </ion-list> 
    </div>


 <ion-list clsee="no-lines">
    <ion-item >  
        <button ion-button large clear icon-start item-start>
            <ion-icon name='arrow-back'></ion-icon>
            上一页
          </button>
        
          <p align="center" class="pc-con">第1页</p>
        
          <button ion-button large  clear icon-end item-end >
              下一页
          <ion-icon name='arrow-forward'></ion-icon>
            </button>
      </ion-item>
    </ion-list>

     <!-- fab组件 -->
    <fabs clsee="add-fabs"></fabs>
    
</ion-content>
