<ion-header>
    
  </ion-header>
  
  <ion-content>
  
      <!-- right edge -->
    <ion-fab class="fabs-button" >
      <button ion-fab color="light"><ion-icon name="add" ></ion-icon></button>
    </ion-fab>
  
    <!-- <ion-fab top left top>
      <button ion-fab color="vibrant" big><ion-icon name="arrow-dropdown"></ion-icon></button>
      <ion-fab-list>
        <button ion-button color="light"><ion-icon name="Home"></ion-icon>Home</button>
        <button ion-button color="light"><ion-icon name="Task"></ion-icon>Task</button>
        <button ion-button color="light"><ion-icon name="Meeting"></ion-icon>Meeting</button>
        <button ion-button color="light"><ion-icon name="Discuss"></ion-icon>Discuss</button>
        <button ion-button color="light"><ion-icon name="Question"></ion-icon>Question</button>
        <button class="user" ion-button large color="light"><ion-icon name="people" ion-icon name="arrow-down"></ion-icon>
          <ion-icon name="arrow-down" *ngIf="isShow" (click)="isShow=!isShow"></ion-icon>
          <ion-icon name="arrow-forward" *ngIf="isShow" (click)="isShow=!isShow"></ion-icon>
          <ion-list *ngIf="isShow">
          <button ion-button color="light">用户</button> 
          <button ion-button color="light">个人资料</button> 
          </ion-list>
      </button>
      </ion-fab-list>
    </ion-fab> -->
    
  </ion-content>
  