topic-create {
  button {
    margin-top: 1% 40% 0 45%;
    height: 1cm;
    width: 10%;
  }

  .label {
    font-size: 20px;
    font-style: normal;
  }

  #topic {
      margin-top: 5% 20% 0 20%;
      margin-bottom: 10px;
      width: 60%;height: 8%;
      border-radius: 4px;
      border:1px blue solid;
      overflow: ellipsis; 
      display: inline-block;
  }
  #case {
      display: block;
      margin-top: 5% 22% 0 22%;
      margin-bottom: 10px;
      border-bottom: 1px solid blue;        

  }
  #variety,#level {
      display: block;
      width: 20%;
      border:none;
      margin-right: 1%;
      border-right: 1px solid blue;
      display: inline-block;
  }

  #who {
      display: inline-block;
      width: auto;
      border:none;
  }

  #content{
      margin-top: 2% 25% 0 25%;
      width: 50%;
      height: 5cm;
      padding: 5px;
      border-top: solid blue 2px;
      border:1px solid blue;
      border-radius: 6px;
      overflow: auto;
  }
}
