page-message{
    .toolbar-title-md{
    text-align: center;
    }

    #case1{
        margin-left: 20%;margin-right: 20%;margin-top: 5%;margin-bottom: 10px;
        border: 1px blue solid;
        border-radius: 2px;
    }
    input{
        width: 80%;
        height: 5%;
        border:none;
        overflow: ellipsis; 
    }
    input:hover{
      text-overflow: inherit;
      overflow: visible;
    }

    #label1{
      font-size: 25px;font-style: italic;font-color:#505050;
    }
    #case2{
        margin-left: 22%;margin-right: 20%;margin-top: 5%;margin-bottom: 10px;
        border-bottom: 1px solid blue;        

    }
    #variety,#level{
        width: 20%;
        border:none;
        margin-right: 1%;
        border-right: 1px solid blue;

    }

    #who{
        width: auto;
        border:none;
    }
    .label2{
      font-size: 20px;font-style: italic;font-color:#505050;
    }

    #content{
        margin-left: 25%;margin-right: 25%;margin-top: 2%;
        width: 50%;
        height: 5cm;
        padding: 5px;
        border-top: solid blue 2px;
        border:1px solid blue;
        border-radius: 6px;
        overflow: auto;

    }

    button{
      margin-left: 45%;margin-right: 40%;margin-top: 1%;
      height: 1cm;
      background-color: #4CAF50;
      border-radius: 8px;
    }

}

